<body>
    <br>
    <br>
    <h1>Cats</h1>
    <div>
        <img src="https://images.unsplash.com/photo-1548802673-380ab8ebc7b7?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Picture of a cat sleeping under the covers">
        <p>
            When I wake up, remember to attack dog, run away and pretend to be a victim. Nyan fluffness, ahh cucumber! Eat
            the rubberband. Shake treat bag and unwrap toilet paper. Wake up human for food at 4am. Ask for petting. Lick
            the plastic bag. Do not try to mix old food with new one to fool me! Snuggle up to shoulders or knees and
            purr, gently. Now attack the dog! Pretend like nothing happened.
        </p>
    </div>
</body>