body {
    background-color: rgb(230, 218, 200);
}

h1 {
    text-align: center;
    padding: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}